extends /layouts/admin

block content
  div(data-page='stats', id='page', class='stats')
    h1 Stats
    p There are #{total} videos in Hyperflora!
    p #{total - hiddenTotal} are available in Everything.
    table
      tr
        th Channel
        th Total
        th Hidden
      each count, channel in channelCounts
        tr
          td= channel
          td= count.total
          td= count.hidden

    if untagged > 0
      p #{untagged} videos haven't been tagged yet.
