extends /layouts/admin

block content
  div(data-page=page, id='page') 
    if filterEnabled
      section(class='filters') 
        span Channel:
        select(class='channel-filter')
          option(value='all') all
          each channel in channels
            if (channel == filter)
              option(value=channel selected)= channel
            else
              option(value=channel)= channel
    ul(class='videos')
      each vid in videos
        li
          a(href=vid.url, target='_blank', class='title')
            h3= vid.title
          
          div(class='controls')
            if channelChanger
              div(class='dropdown-checklist', data-objId=vid._id, tabindex='100')
                button(class='anchor')
                  span= getChannelLabel(vid.channel)
                ul(class='dropdown-items hidden')
                  each channel in channels
                    li(data-channel=channel)
                      if (vid.channel && vid.channel.includes(channel))
                        label
                          input(type='checkbox', value=channel, checked)
                          span #{channel}
                      else
                        label
                          input(type='checkbox', value=channel)
                          span #{channel}
            else
              span= vid.channel
             
            if buttons
              div(class='buttons')
                if buttons.approve
                  form(action='/approve', method='POST')
                    input(type='hidden', name='id', value=vid._id)
                    button(class='approve')
                else 
                  form(action='/unapprove', method='POST')
                    input(type='hidden', name='id', value=vid._id)
                    button(class='unapprove')
                form(action='/delete', method='POST')
                  input(type='hidden', name='id', value=vid._id)
                  button(class='delete')  
