extends /layouts/admin

block content
  div(data-page=page, id='page') 
    section(class='search-info') 
      div(class='video-count') Displaying #{videos.length} results
      if controls.filterEnabled
        div(class='filters')
          label Channel:
            select(id='channel-filter', data-selected=channelFilter)
              option(value='all') all
              each channel in channels
                option(value=channel)= channel
          label Visibility:
            select(id='visibility-filter', data-selected=visibilityFilter)
              option(value='all') all
              option(value='visible') in everything
              option(value='hidden') not in everything
              
    ul(class='videos')
      each vid in videos
        li(class='video-item' data-objId=vid._id)
          a(href=vid.url, target='_blank', class='title')
            h3= vid.title
          
          div(class='controls')
            if controls.channelChangerEnabled
              div(class='dropdown-checklist closed', tabindex='100')
                button(class='anchor')
                  span= getChannelLabel(vid)
                div(class='dropdown-items')
                  label(class='in-everything')
                    input(type='checkbox', checked=!vid.notInEverything)
                    span in everything
                  hr
                  each channel in channels
                    label(class='channel', data-channel=channel)
                      input(type='checkbox', value=channel, checked=(vid.channels && vid.channels.includes(channel)))
                      span #{channel}
            else
              span= vid.channels.join(', ') || 'no channels'
             
            if controls.buttonsEnabled
              div(class='buttons')
                if controls.approve
                  form(action='/api/approve', method='POST')
                    input(type='hidden', name='id', value=vid._id)
                    button(class='approve')
                else 
                  form(action='/api/unapprove', method='POST')
                    input(type='hidden', name='id', value=vid._id)
                    button(class='unapprove')
                form(action='/api/delete', method='POST')
                  input(type='hidden', name='id', value=vid._id)
                  button(class='delete')  
